{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}Yangi maqola{% endblock title %}

{% block content %}
<div class="container my-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm">
                <div class="card-header bg-primary text-white">
                    <h3 class="mb-0">Yangi maqola qo'shish</h3>
                </div>
                <div class="card-body">
                    <p class="text-muted">Quyidagi formani to‘ldirib, yangi maqolani saytga qo‘shishingiz mumkin.</p>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form.media}}
                        {{ form|crispy }}

                        <div class="d-flex justify-content-between mt-4">
                            <a href="{% url 'article_list' %}" class="btn btn-outline-secondary">
                                Bekor qilish
                            </a>
                            <button type="submit" class="btn btn-primary">
                                Saqlash
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}